[submodule "/Users/cyborg/.vim/pack/vendor/start/nerdtree"]
	path = /Users/cyborg/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/lightline"]
	path = /Users/cyborg/.vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "/Users/cyborg/.vim/pack/vendor/start/vimtex"]
	path = /Users/cyborg/.vim/pack/vendor/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/vim-rmarkdown"]
	path = /Users/cyborg/.vim/pack/vendor/start/vim-rmarkdown
	url = https://github.com/vim-pandoc/vim-rmarkdown.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/vim-pandoc"]
	path = /Users/cyborg/.vim/pack/vendor/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/vim-pandoc-syntax"]
	path = /Users/cyborg/.vim/pack/vendor/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/lightline-bufferline"]
	path = /Users/cyborg/.vim/pack/vendor/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/goyo.vim"]
	path = /Users/cyborg/.vim/pack/vendor/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "/Users/cyborg/.vim/pack/vendor/start/limelight.vim"]
	path = /Users/cyborg/.vim/pack/vendor/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
